.bis {
    font-size: 1.5rem; /* Yeh value adjust kar sakte hain apne requirement ke according */
    color: white; /* Icon ka color bhi yahin se set kar sakte hain */
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.navbar-brand {
    font-size: 1.5rem;
    color: black;
}

.form-control {
    width: 300px;
    background-color: #FEE6D8;
}

.btn-outline-light {
    background-color: #FEE6D8;
    border: none;
    color: #f15e28;
}

.btn-warning {
    background-color: #f15e28;
}

.btn-light {
    background-color: #f15e28;
    border: none;
}

@media (max-width: 768px) {
    .form-control {
        width: 100%;
    }
}

@media (max-width: 465px) and (min-width: 344px) {
    .sign {
      width: 125px;
    }
  }
  