<div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-header text-center  text-white  bg-header">
            <h4>Product Details</h4>
          </div>
          <div class="card-footer text-end mt-1">
            <button class="btn btn-sm text-center mx-2 backBtn"  routerLink="/admin/all-product" >Back</button>
            <button class="btn  btn-sm mx-2 editbtn   justify-item-center" >Edit</button>
            <!-- <button class="btn btn-outline-danger mx-2" [ngClass]="{'disabled': customerData.isDeleted}">Delete</button> -->
          </div>
          <div class="card-body p-4">
            <div class="text-center mb-4">
              <img [src]="customerData?.productImage" alt="Profile Picture" class="rounded-circle" style="width: 120px; height: 120px;" />
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Product ID:</strong> {{ customerData?.id }}
              </li>
              <li class="list-group-item">
                <strong>Name:</strong> {{ customerData?.productName }}
              </li>
              <li class="list-group-item">
                <strong>Product Price:</strong> {{ customerData?.productPrice }}
              </li>
              <li class="list-group-item">
                <strong>Created At:</strong> {{ customerData?.createdAt }}
              </li>
              <li class="list-group-item">
                <strong>Updated At :</strong> {{ customerData?.updatedAt }}
              </li>
          
            </ul>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  