<footer class="footer container-fluid">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 text-start">
                <h4>Logo</h4>
            </div>
            <div class="col-md-4 footer-links text-center">
                <a href="#">About us</a>
                <a href="#">Delivery</a>
                <a href="#">Help & Support</a>
                <a href="#">T&C</a>
            </div>
            <div class="col-md-4 footer-social text-end">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr class="text-white">
    </div>

    <div class="container-fluid footer-container">
        <p class="footer-text text-center">© Copyright All rights reserved {{ currentYear }}.</p>
    </div>
</footer>