<div class="container mt-5">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
      <h4 class="text-nowrap mb-2 mb-md-0" style="color:#f97821">Orders</h4>
      <div class="d-flex flex-wrap">
        <button class="btn mb-2 mb-md-0" style="color:#f97821; border:1px solid #f97821" (click)="exportToExcel()">Export EXCEL</button>
        <button class="btn ms-0 ms-md-2 text-white" style="background-color: #f97821;" routerLink="/">Add Order</button>
      </div>
    </div>
  
    <div class="table-responsive mt-3">
      <table class="table table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Image</th>
            <th scope="col">Total Quantity</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of paginatedOrders">
            <td>{{ order.customerName }}</td>
            <td>{{ order.customerphoneNumber }}</td>
            <td>{{ order.customerEmail }}</td>
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let item of order.orderItemIds">{{ item.productName }}</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let item of order.orderItemIds">{{ item.productPrice | currency: 'INR' }}</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let item of order.orderItemIds">
                  <img
                    [src]="envUrl + '/api/files/' + item.productImage"
                    [alt]="item.productName"
                    class="img-thumbnail"
                    style="width: 50px; height: 50px;"
                  />
                </li>
              </ul>
            </td>
            <td>{{ order.totalQuantity }}</td>
            <td>{{ order.totalAmount | currency: 'INR' }}</td>
            <td>
              <button class="btn" style="border: 1px solid grey; background-color: #f97821; color: white;" (click)="viewOrderDetails(order)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <nav aria-label="Page navigation" class="mt-3">
      <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item" [class.disabled]="currentPage === 0">
          <button class="page-link" (click)="changePage(currentPage - 1)" style="color: #f97821;">Previous</button>
        </li>
        <li
          class="page-item"
          *ngFor="let page of pages; let i = index"
          [class.active]="i === currentPage"
        >
          <button
            class="page-link"
            (click)="changePage(i)"
            [style.backgroundColor]="i === currentPage ? '#f97821' : 'white'"
            [style.color]="i === currentPage ? 'white' : '#f97821'"
          >
            {{ i + 1 }}
          </button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
          <button class="page-link" (click)="changePage(currentPage + 1)" style="color: #f97821;">Next</button>
        </li>
      </ul>
    </nav>
  </div>
  