// .footer {
//     background-color: #f97821;
//     color: white;
//     padding: 20px 0;
// }

// .footer .footer-links {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 30px;
// }

// .footer .footer-social {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 15px;
//     margin-top: 10px;
// }

// .footer a {
//     color: white;
//     text-decoration: none;
// }

// .footer a:hover {
//     text-decoration: underline;
// }

.footer {
    background-color: #f97821;
    color: white;
    padding: 20px 0;
    margin-top: auto;
}

.footer .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

