section {
    background: #ffffff url(../../../../assets/wave-haikei.png) center center/cover no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
input:focus, textarea:focus, select:focus {
    outline: none !important;
    border-color: #f97821 !important;
    box-shadow: 0 0 5px #f97821 !important;
}
.custom-radio:checked {
    border-color:  #f97821 !important; /* Outline color when selected */
    background-color: #f97821 !important; /* Background color when selected */
  }
  .custom-radio {
    accent-color: #f97821 !important; /* Sets the color when selected */
  }

  